body {
    display: flex;
    justify-content: center;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    width:40%;
    margin-top:30px;
    align-items: center;
}
select {
    width: 30%;
    height:50px;
    border-radius: 20px;
    background-color: skyblue;
}

option {
    text-align: center;
}